<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false">

  <variable name="logDirectory" value="${specialfolder:folder=LocalApplicationData}/NanoBot/logs"/>

  <targets async="true">
    <target name="file" xsi:type="File"
            fileName="${logDirectory}/nanobot-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file"/>
  </rules>
</nlog>
